version: "3"

services:
  app:
    build:
      context: .
      dockerfile: dev/Dockerfile
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://username:password@postgres:5432/db
      NODE_ENV: development
      PORT: 3000
    ports:
      - "3000:3000"

  postgres:
    image: postgres:12.2
    volumes:
      - ./dev/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
